.contacts li a.twitter:hover {
    color: rgba(29, 160, 242, 0.883);
}
.contacts li a.instagram:hover {
    color:rgb(193,53,132);
}

.avatar{
    max-width: 10rem;
}
.avatar-wrapper {
    padding: 1em 0;
}


@media only screen and (max-width: 1199px) {
    .avatar {
        max-width: 6rem;
    }
    .avatar-wrapper {
        padding: 1em 0;
    }
    .contacts {
        margin-top: 1em;
        flex-direction: column;
      }

  }

 
